*{margin: 0; padding: 0;}
html{
	
	background-image: url("background.jpg");
	background-position: center;
	background-color: black;
	height: 600px;
	margin-top: 50px;
}
header {
  min-height: 50px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: 1px solid #252525;
  background: #252525;
  z-index: 2;
}
body{
	font-family: arial, helvetica, sans-serif;
	font-size: 20px;
}
.fundo{
	background-color: rgba(0,0,0,0.8);
	margin-top: 10px;
	margin-right: 100px;
	margin-left: 100px;
	height: 1500px;
	}
.sitenome{

	margin-top: 10px;
	list-style: none;
	float: right;
	font-size: 30px;
	border: 0px;
	margin-right: 15px;
	color: white;
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 0px 0px 0 #ccc; 
	text-shadow:2px 1px 3px #fff; 

}
.sitenome a{
	color:white; 
	text-decoration:none;
	padding:5px 10px; 
	display:block;

}
.sitenome a:hover{
	background:#333;
	color: #fff;
	-moz-box-shadow:0 0px 0px 0 #CCC; 
	-webkit-box-shadow:0 0px 0px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}
.menu{
	margin-top: 10px;
	list-style:none; 
	border: 0px solid #c0c0c0; 
	float:left; 
}

.menu li{
	position:relative; 
	float:left; 
	border-right:0px solid #c0c0c0; 
}

.menu li a{
	color:white; 
	text-decoration:none;
	padding:5px 10px; 
	display:block;
}

.menu li a:hover{background:#333; 
	color:#fff; 
	-moz-box-shadow:0 3px 10px 0 #CCC; 
	-webkit-box-shadow:0 3px 10px 0 #ccc; 
	text-shadow:0px 0px 5px #fff; 
}

.menu li   ul{
	position:absolute; 
	top:25px; left:0; 
	background-color:black; 
	display:none; 
}

.menu li:hover ul, .menu li.over ul{display:block;}

.menu li ul li{
	border:1px solid #c0c0c0; 
	display:block; 
	width:150px;
}
h1{
	margin-top: 30px;
	color: white;
	text-align: center;
}

p{
	text-align: center;
	color: white;
	margin-right: 100px;
	margin-left: 100px;
	margin-top: 30px;
	font-size: 30px;
}
